<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Aktywne konta</div>
            <div id="showDocument">
                <table class="table" ts-wrapper>
                    <thead>
                    <tr>

                        <th ts-criteria="username|lowercase">
                            <md-icon md-svg-src='images/icons/mail.svg' style="color: #e7e7e7;"></md-icon>
                            E-mail
                        </th>
                        <th ts-criteria="name|lowercase">
                            <md-icon md-svg-src='images/icons/face.svg' style="color: #e7e7e7;"></md-icon>
                            Imię
                        </th>
                        <th ts-criteria="surname|lowercase">
                            <md-icon md-svg-src='images/icons/surname.svg' style="color: #e7e7e7;"></md-icon>
                            Nazwisko
                        </th>
                        <th ts-criteria="numberUser|parseInt">
                            <md-icon md-svg-src='images/icons/number.svg' style="color: #e7e7e7;"></md-icon>
                            Numer
                        </th>
                        <th ts-criteria="name|lowercase">
                            <md-icon md-svg-src='images/icons/team.svg' style="color: #e7e7e7;"></md-icon>
                            Team
                        </th>
                        <th  ts-criteria="nameTeam">
                            <md-icon md-svg-src='images/icons/role.svg' style="color: #e7e7e7;"></md-icon>
                            Rola
                        </th>
                        <th ng-show="roleSuperAdmin" ts-criteria="nameTeam">
                            <md-icon md-svg-src='images/icons/role.svg' style="color: #e7e7e7;"></md-icon>
                            Uprawnienia
                        </th>
                        <th ng-show="roleSuperAdmin || roleAdmin" >
                            <md-icon md-svg-src='images/icons/block.svg' style="color: #e7e7e7;"></md-icon>
                            Blokada
                        </th>
                        <th ng-show="roleSuperAdmin" ts-criteria="">
                            <md-icon md-svg-src='images/icons/delete.svg' style="color: #e7e7e7;"></md-icon>
                            Usuń
                        </th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in activeAccounts" ts-repeat>
                        <td ng-click="resetPassword(account);">{{account.username}}</td>
                        <td ng-click="editName(account);">{{account.name}}</td>
                        <td ng-click="editSurname(account);">{{account.surname}}</td>
                        <td ng-click="editNumber(account);">{{account.numberUser}}</td>
                        <td>{{account.nameTeam}}</td>
                        <td>{{account.role}}</td>
                        <td ng-show="roleSuperAdmin" ><input
                                style="background-color:#DAA502; clear: both; width:85px;" class="adminSubmit"
                                type="submit" value="Zmień" ng-click="roleUser(account);">
                        </td>



                        <td ng-show="roleSuperAdmin || roleAdmin" ><input class="button_management" style="background-color:#FF5D00;width: 85px;"
                                                             class="adminSubmit" type="submit" value="Blokada"
                                                             ng-click="blockAccountUser(account)">
                        </td>
                        <td ng-show="roleSuperAdmin"><input class="button_management" style="background-color:rgb(221,44,0);width: 85px;"
                                                             class="adminSubmit" type="submit" value="Usuń"
                                                             ng-click="deleteAccount(account)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="#/admin">
                    <img src="images/icons/back.png">
                </a>
            </div>


        </div>




    </div>
</div>
</div>