<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">OFERTY</div>
            <div id="adminPanel">
                <a href="#/add_an"><input type="submit" class="submitAdmin" value="Dodaj oferte"></a>
                <a href="#/waiting_an"><input type="submit" class="submitAdmin" value="Poczekalnia"></a>
                <a href="#/confirm_an"><input ng-click="allWaitingOfferAn()" type="submit" class="submitAdmin" value="Aktywne AN"></a>
                <a href="#/"><input type="submit" class="submitAdmin" value="Zakończone"></a>
                <a href="#/"><input type="submit" class="submitAdmin" value="Historia"></a>
            </div>
        </div>
    </div>
</div>