<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <img ng-show="load" style="font-size: 10px; padding-top: 80px;" src="../images/gears.svg">


            <div ng-show="showInfo">
                <div class="intro-heading">Panel administracyjny</div>
                <div id="adminPanel">

                    <a href="#/addDocument"><input type="submit" class="submitAdmin" value="Dodaj dokument WZ"></a>

                    <a href="#/client"><input type="submit" class="submitAdmin" value="Klienci"></a>

                    <a href="#/trader"><input type="submit" class="submitAdmin" value="Handlowcy"></a>

                    <a href="#/correct_document"><input  ng-class='{red : isCorrect}' type="submit" class="submitAdmin"
                                                                             value="Korekty"></a>
                    <a href="#/accept_account" ng-show="roleSuperAdmin || roleAdmin">
                        <input ng-class='{red : isNotActiveAccount}' type="submit" class="submitAdmin"
                                                                                   value="Aktywuj konto"></a>

                    <a  href="#/block_account"><input type="submit" class="submitAdmin"
                                                     value="Zarządzanie kontami"></a>

                    <a href="#/show_documents"><input type="submit" class="submitAdmin" value="Podgląd dokumentów"></a>

                    <a  href="#/history" ng-show="roleSuperAdmin || roleAdmin"><input type="submit" class="submitAdmin" value="Historia"></a>

                    <a href="#/items"><input type="submit" class="submitAdmin" value="Rezerwacje fizyczne"></a>

                </div>


            </div>

        </div>

    </div>
</div>