<script>
    $( function() {
        console.log("Jquery dziala");
        $( "#datepicker" ).datepicker();
    } );
</script>
<div class="container">
    <div class="slider-container">
        <div class="intro-text">


            <form id="form" name="projectForm" class="topBefore" ng-submit="createDocument()" style="font-size:20px;">
                <h1>Dodawanie WZ</h1>

                <input required name="numberWZ" type="text" name="numberWZ" ng-model="form.numberWZ" placeholder="Numer WZ">
                <input name="subProcess" required type="number" ng-model="form.subProcess" placeholder="Podproces"
                       min="1"
                       max="100"/>

                <select required ng-model="form.nameClients" data-ng-options="x for x in resultListClient | orderBy" >

                </select>

                <select ng-model="form.myTrader" ng-options="x for x in resultListTrader | orderBy">

                </select>


                <input type="date" id="exampleInput" name="input" ng-model="form.date" required />

                <input id="submit" type="submit" value="Dodaj">


            </form>
            <div>
                <a href="#/admin">
                    <img src="images/icons/back.png">
                </a>
            </div>

        </div>
    </div>
</div>