<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Handlowcy</div>
            <input style="font-size: 20px;" type="text" ng-model="search.$" placeholder="Jakiego handlowca szukasz...">
            <div id="showDocument">
                <table class="table" ts-wrapper>
                    <thead>
                    <tr>

                        <th ts-criteria="name|lowercase" ts-default>Imię</th>
                        <th ts-criteria="surname|lowercase">Nazwisko</th>
                        <th ts-criteria="numberTrader|parseInt">Numer</th>
                        <th ts-criteria="nameTeam|lowercase">Team</th>
                        <th style="width: 15%">Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="trader in traders | filter:search" ts-repeat>
                        <td ng-click="editNameTrader(trader)">{{trader.name}}</td>
                        <td ng-click="editSurnameTrader(trader)">{{trader.surname}}</td>
                        <td ng-click="editNumberTrader(trader)">{{trader.numberTrader}}</td>
                        <td ng-click="editNameTeamTrader(trader)">{{trader.nameTeam}}</td>
                        <td><input style="background-color:rgb(221,44,0);width: 95px;" class="adminSubmit" type="submit" value="Usuń"
                                                          ng-click="deleteTrader(trader);">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="#/trader">
                    <img src="images/icons/back.png">
                </a>
            </div>

        </div>
    </div>
</div>